/* *{

    padding: 10px;
    margin: 7px 1px;
    box-sizing: border-box;
    overflow: auto;
}


body{
    border: 1px solid rgba(236, 162, 162, 0.1);
    box-shadow:
    inset 20em 10em 3em rgba(236, 162, 162, 0.2),
    -15em -6em 3em rgba(236, 162, 162, 0.1),
    -3em -3em 3em 2px rgb(238 100 100/10%),
    3em 3em 1em rgba(238, 189, 189, 0.189);
}

#heading1{
    color: rgba(114, 151, 237, 0.751);
    font-size: 120px;
    font-display: block;
    font-optical-sizing: auto;
    
    text-shadow:  rgba(114, 151, 237, 0.551) 4px 4px 5px ,  rgba(238, 185, 121, 0.506) 4px 4px 5px;
    line-height: 7rem;
    position: sticky;
    margin-left: 260px;
    padding-top: 10px;
 }

#heading2{
    color: rgba(114, 151, 237, 0.751);
    font-size: 70px;
    font-display: block;
    font-optical-sizing: auto;
    
    text-shadow:  rgba(114, 151, 237, 0.151) 4px 4px 5px , rgba(238, 185, 121, 0.506) 4px 4px 5px;
    line-height: 6rem;
    position: sticky;
    margin-left: 280px;
    padding-top: 2px;
}

#watermark1{
    opacity: 1;
    position: fixed;
    top: 100px;
    left: 10px;
    border: 2px solid rgba(118, 156, 237, 0.6);
    box-shadow: 8px 8px 4px rgba(118, 156, 237, 0.2);
}


#watermark2{
    opacity: 1;
    position: fixed;
    top: 100px;
    right: 10px;
    border: 2px solid rgba(118, 156, 237, 0.6);
    box-shadow: 8px 8px 4px rgba(118, 156, 237, 0.2);  
}

.container{
    border: 3px solid rgba(96, 93, 93, 0.674);
    width: 50%;
    margin-left: 270px;
    margin-top: 40px;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-shadow: rgba(238, 185, 121, 0.906) 1px 1px 2px;
    box-shadow:
    inset -10em 17em 3em rgba(125, 145, 237, 0.2),
    -5px -5px 2px rgba(118, 156, 237, 0.8),
    5px 5px 2px rgba(118, 156, 237, 0.8);
    overflow: auto;
}

#submit{
    font-size: 30px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow:
    inset 2em 2em 4em rgba(127, 223, 198, 0.372),
    -0.2em -0.2em 0em  rgba(125, 145, 237, 0.5),
    0.2em 0.2em 0em rgba(125, 145, 237, 0.5);
    padding: 10px;
    text-shadow: rgba(238, 185, 121, 0.906) 1px 1px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
} */


*{
    padding: 5px;
    margin: 3px 1px;
    box-sizing: border-box;
    overflow: auto;
}


body{
    border: 1px solid rgba(236, 162, 162, 0.1);
    text-shadow:  2px 2px rgba(107, 105, 105, 0.331);
    box-shadow:
    inset 10em 10em 2em rgba(114, 151, 237, 0.151),
    -3em -3em 3em  rgba(114, 151, 237, 0.451),
    3em 3em 1em rgba(114, 151, 237, 0.451);
}

#heading1{
    font-size: 110px;
    font-display: block;
    font-optical-sizing: auto;
    
    text-shadow: rgba(118, 156, 237, 0.3) 4px 4px 5px , rgba(118, 156, 237, 0.3) 4px 4px 5px;
    line-height: 7rem;
    position: sticky;
    margin-left: 24%;
    padding-top: 10px;
 }

 #heading2{
    font-size: 70px;
    font-display: block;
    font-optical-sizing: auto;
    
    text-shadow:  rgba(114, 151, 237, 0.151) 3px 3px 3px , rgba(149, 146, 143, 0.506) 3px 3px 3px;
    line-height: 6rem;
    position: sticky;
    margin-left: 24%;
    padding-top: 2px;
}

#watermark1{
    opacity: 1;
    position: fixed;
    top: 100px;
    left: 3%;
    border: 2px solid rgba(118, 156, 237, 0.6);
    box-shadow: 8px 8px 4px rgba(118, 156, 237, 0.2);
}


#watermark2{
    opacity: 1;
    position:fixed;
    top: 100px;
    right: 3%;
    /* left: 76%; */
    border: 2px solid rgba(118, 156, 237, 0.6);
    box-shadow: 8px 8px 4px rgba(118, 156, 237, 0.2);  
}

.container{
    border: 3px solid rgba(96, 93, 93, 0.674);
    width: 45%;
    margin-left: 26%;
    margin-top: 50px;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow:
    inset -10em 17em 3em rgba(125, 145, 237, 0.2),
    -5px -5px 2px rgba(118, 156, 237, 0.8),
    5px 5px 2px rgba(118, 156, 237, 0.8);
    overflow: auto;
}

#submit{
    font-size: 30px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow:
    inset 2em 2em 4em rgba(127, 223, 198, 0.372),
    -0.2em -0.2em 0em  rgba(125, 145, 237, 0.5),
    0.2em 0.2em 0em rgba(125, 145, 237, 0.5);
    padding: 10px;
    text-shadow: rgba(238, 185, 121, 0.906) 1px 1px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}