
/* 
*{
    padding: 2x;
    margin: 2px;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}
.container{
    width: 100%;
    height: 100%;
    border: 3px solid rgba(131, 127, 127, 0.512) ;
    --tw-bg-opacity:1;
    padding: 10px;
    box-shadow:
    inset 10em 10em 2em rgba(114, 151, 237, 0.151),
    -3em -3em 3em  rgba(114, 151, 237, 0.451),
    3em 3em 1em rgba(114, 151, 237, 0.451);
    overflow: auto;
    display: grid;
    grid-template-areas: 
                "header"
                "box"
            ;
}



#heading1{
    font-size: 100px;
    color: rgba(114, 151, 237, 0.751);
    font-display: block;
    font-optical-sizing: auto;
    text-shadow: rgba(114, 151, 237, 0.151) 4px 4px 5px ,  rgba(114, 151, 237, 0.151) 4px 4px 5px;
    line-height: 7rem;
    margin-inline: 20%;
    display: inline;
    align-items: center;
    justify-content: center;
    
}

#watermark1{
     opacity: 1;
     position: static;
     top: 10px;
     right: 2px;
     border: 2px solid rgba(118, 156, 237, 0.6);
     box-shadow: 5px 5px 2px rgba(133, 166, 235, 0.3);
}
#watermark2{
    opacity: 1;
    top: 10px;
    position: sticky;
    right: 2px;
    border: 2px solid rgba(118, 156, 237, 0.6);
    box-shadow: 5px 5px 2px rgba(133, 166, 235, 0.3);
}

 

#box{
    border: 2px solid rgba(118, 156, 237, 0.6);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-shadow: 1.5px 1.5px rgba(107, 105, 105, 0.331);
    box-shadow: 5px 5px 2px rgba(118, 156, 237, 0.2);
    margin: 10px;
    padding: 3px;
    width: 100%;
    height: 100%;
}

#question{
    width: 37%;
    border: 2px solid rgba(118, 156, 237, 0.2);
    box-shadow: 
    inset -3em -3em 3em rgba(125, 145, 237, 0.2),
    0em 0em 0cap 1px rgba(125, 145, 237, 0.2),
    0.2em 0.2em 0em rgba(125, 145, 237, 0.2);
}

#answer{
    width: 57%;
    border: 2px solid rgba(118, 156, 237, 0.2);
    box-shadow: 
    inset -3em -3em 3em rgba(125, 145, 237, 0.2),
    0em 0em 0cap 1px rgba(125, 145, 237, 0.2),
    0.2em 0.2em 0em rgba(125, 145, 237, 0.2);
}


#public{
    padding-right: 30px;
}

#submit{
    font-size: 30px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow:
    inset 2em 2em 4em rgba(125, 145, 237, 0.2),
    -0.2em -0.2em 0em  rgba(125, 145, 237, 0.5),
    0.2em 0.2em 0em rgba(125, 145, 237, 0.5);
    padding: 10px;
    text-shadow: 1.5px 1.5px rgba(107, 105, 105, 0.331);;
    display: inline;
    justify-content: center;
    align-items: center;
} */









*{
    padding: 2x;
    margin: 2px;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}
.container{
    width: 100%;
    height: 100%;
    border: 3px solid rgba(131, 127, 127, 0.512) ;
    --tw-bg-opacity:1;
    padding: 10px;
    box-shadow:
    inset 10em 10em 2em rgba(114, 151, 237, 0.151),
    -3em -3em 3em  rgba(114, 151, 237, 0.451),
    3em 3em 1em rgba(114, 151, 237, 0.451);
    overflow: auto;
    display: grid;
    grid-template-areas: 
                "header"
                "box"
            ;
}



#heading1{
    font-size: 120px;
    font-display: block;
    font-optical-sizing: auto;
    text-shadow: rgba(238, 185, 121, 0.506) 4px 4px 5px , rgba(238, 185, 121, 0.506) 4px 4px 5px;
    line-height: 11rem;
    margin-inline: 3%;
    padding-top: 10px;
    display: inline;
    align-items: top;
    
}

#watermark1{
     opacity: 1;
     top: 10px;
     right: 1%;
     border: 2px solid rgba(118, 156, 237, 0.6);
     box-shadow: 5px 5px 2px rgba(133, 166, 235, 0.3);
}
#watermark2{
    opacity: 1;
    top: 10px;
    right: 1%;
    border: 2px solid rgba(118, 156, 237, 0.6);
    box-shadow: 5px 5px 2px rgba(133, 166, 235, 0.3);
}

 

#box{
    border: 2px solid rgba(118, 156, 237, 0.6);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    box-shadow: 5px 5px 2px rgba(118, 156, 237, 0.2);
    margin: 10px;
    padding: 3px;
    width: 100%;
    height: 100%;
}

#question{
    width: 37%;
    border: 2px solid rgba(118, 156, 237, 0.2);
    box-shadow: 
    inset -3em -3em 3em rgba(125, 145, 237, 0.2),
    0em 0em 0cap 1px rgba(125, 145, 237, 0.2),
    0.2em 0.2em 0em rgba(125, 145, 237, 0.2);

}

#answer{
    width: 57%;
    border: 2px solid rgba(118, 156, 237, 0.2);
    box-shadow: 
    inset -3em -3em 3em rgba(125, 145, 237, 0.2),
    0em 0em 0cap 1px rgba(125, 145, 237, 0.2),
    0.2em 0.2em 0em rgba(125, 145, 237, 0.2);
}


#public{
    padding-right: 30px;
}

#submit{
    font-size: 30px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow:
    inset 2em 2em 4em rgba(125, 145, 237, 0.2),
    -0.2em -0.2em 0em  rgba(125, 145, 237, 0.5),
    0.2em 0.2em 0em rgba(125, 145, 237, 0.5);
    padding: 10px;
    text-shadow: rgba(238, 185, 121, 0.906) 1px 1px 2px;
    display: inline;
    justify-content: center;
    align-items: center;
}